.logo-glass-wrapper{

  @include flex(column, center, center);
  position: fixed;
  z-index: 49;
  width: 50px;
  height: 50px;
  left: 36px;
  top: 42px;
  width: 47px;
  height: 47px;

  &:after{
    content: "";
    background: rgba($color-white, 0.3);
    left: 41px;
    top: 45px;
    width: 38px;
    height: 3px;
    border-radius: 12px;
    position: fixed;
    z-index: 51;
  }

  &:before{
    content: "";
    background: rgba($color-white, 0.5);
    left: 38px;
    top: 51px;
    width: 43px;
    height: 3px;
    border-radius: 12px;
    position: fixed;
    z-index: 51;
  }

  img{
    margin-top: 2px;
  }
}
