.devicons{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('/img/icons-sprite.svg') no-repeat center top;
}

.devicons-ruby_on_rails{ background-position: -217px 0;}
.devicons-git{ background-position: -431px -43px;}
.devicons-gulp{ background-position: -322px -45px;}
.devicons-grunt{ background-position: -376px -43px;}
.devicons-html5{ background-position:-210px -42px;}
.devicons-css3{ background-position: 2px -61px; background-size: 404px;}
.devicons-javascript_badge{ background-position: -95px -35px; background-size: 470px;}
.devicons-jquery{ background-position: -52px -38px; background-size: 490px;}
.devicons-bootstrap{ background-position: -131px -68px; background-size: 444px;}
.devicons-nodejs_small{background-position: -228px 4px; background-size: 328px;}
.devicons-travis{ background-position:-108px -1px;}
.devicons-zend{ background-position: -2px 7px; background-size: 450px; width: 35px;}
.devicons-angular{ background-position: -210px -86px;}
.devicons-less{ background-position: 0 -44px; width: 40px;}
.devicons-bower{ background-position: -86px -70px; width: 35px; background-size: 440px;}
.devicons-heroku{ background-position: -267px -44px;}
.devicons-coffeescript{ background-position: -38px -61px; background-size: 404px;}
.devicons-postgresql{ background-position: -270px 1px;}
.devicons-responsive{ background-position: -324px -88px;}
.devicons-ionic{ background-position: -376px -88px;}
.devicons-sass{ background-position: -160px 0;}
.devicons-dotnet{ background-position: -346px 9px; background-size: 390px;}
.devicons-jira{ background-position: 0 0;}
.devicons-phonegap{ background-position: -391px -81px; background-size: 487px;}
.devicons-wordpress{ background-position: -56px -1px;}
.devicons-mysql{ background-position: -344px 1px; background-size: 428px;}
.devicons-php{ background-position: -211px 7px; background-size: 357px;}
.devicons-requirejs{ background-position: -365px -31px; background-size: 408px;}
.devicons-android{ background-position: -251px -81px; background-size: 504px;}
.devicons-java{ background-position: -138px -36px; background-size: 460px;}
