.main-nav-wrapper{
  @include translateY(-100vh);
  @include transition();

  .logo-glass-wrapper{
    cursor: pointer;
  }

  &.darken-logo{
    .logo-glass-wrapper{

      path{
        fill: $color-grape;
        stroke: $color-grape;
      }

      &:before, &:after{
        background: rgba($color-grape, 0.5);
      }
    }
  }

  &.darken-menu{
    .main-nav{
      a{
        color: $color-grape;
      }

      .menu-icon{
        span, &:before, &:after{
          background: $color-grape;
        }
      }
    }
  }

  &.portfolio-style{
    .logo-glass-wrapper{
      path{
        fill: rgba($color-red-pink, 0.5);
        stroke:  rgba($color-red-pink, 0.5);
      }

      &:before, &:after{
        @include transition();
        background: rgba($color-red-pink, 0.5);
      }
    }

    .main-nav{
      a{
        color: $color-red-pink;
      }

      .menu-icon{
        span, &:before, &:after{
          background: $color-red-pink;
        }
      }
    }
  }

  &.loading-content{
    @include translateY(-120vh);
  }
}
