@import "core";
@import "yui-reset";

@include font-face($font-peace-sans, "../fonts/PeaceSans");
@include font-face($font-moon, "../fonts/Moon-Light");
@include font-face($font-moon-bold, "../fonts/Moon-Bold");
@include font-face($font-selima, "../fonts/Selima");
@include font-face($font-montserrat, "../fonts/Montserrat-Regular");
@include font-face($font-montserrat-bold, "../fonts/Montserrat-bold");
@include font-face($font-roboto-light, "../fonts/Roboto-light");
@include font-face($font-roboto-regular, "../fonts/Roboto-regular");
@include font-face($font-roboto-bold , "../fonts/Roboto-Bold");

html{
  height: 100%;
  font-family: $font-moon;
}

.fp-controlArrow{
  display: none!important;
}

.general-wrapper{
  overflow: hidden;
}

a{
  text-decoration: none;
}
p{
  color: #757575;
  line-height: 1.6em;
  font-weight: lighter;
  margin-bottom: 1.5em;

  strong{
      font-weight: bold;
  }
}

.site-wrapper{
  overflow: hidden;
  @include flex();
  &.animatable{
    @include transition(all 0.8s $ease-in-out-quint);
  }
}

.lock-for-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .page-home{
    background: $color-white;

    img{
      display: none;
    }
  }
}

.page-group{
  @include flex(column);
}

.button-back{
  position: absolute;
  top: 10%;

  span{
    font: normal em(13) $font-moon-bold;
    color: $color-grape;
    margin: 0 0 0 10px;
  }
}

.page{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include flex();
  @include clear();
}

.scroll-container{
  height: 100%;
}
