@import "mixins";
@import "proj_functions";

.container{
  @include clear();
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 $gutter;
  max-width: 1200px;
}


.row{
  @include clear();
  margin: 0 ceil($gutter * -2);
}

.col{
  padding: 0 $gutter;
  float: left;
  width: 100%;
}

.col-3{
  @extend .col;
  width: 25%;
}

.col-4{
  @extend .col;
  width: 33.3333333%;
}

.col-6{
  @extend .col;
  width: 50%;
}

.col-12{
  @extend .col;
  width: 100%;
}
