.page-about{
  display: none;
  position: relative;

  .image-wrapper{
    background: url("/img/this-is-me.jpg") $color-palatinate-purple no-repeat 39% 100%/cover;
    height: 40%;
    flex: 0 0 250px;
    margin-top: -24px;
    margin-left: 21px;


    @include tablet-landscape{
      width: 380px;
      height: 70%;
      flex: 0 0 340px;
      max-height: 500px;
    }

    @include desktop-md{
      max-height: 580px;
    }
  }

  .button-back{
    left: 15.5%;
  }

  .container{
    @include flex(row, center, flex-start);
   // @include translateX(35%);
    //width: 60%;
    margin: 0;
    height: 100%;
    position: relative;

    @include tablet-landscape{
       @include translateX(10%);
       width: 80%;
    }

    @include desktop-md{
       @include translateX(35%);
       width: 60%;
    }
  }

  &:before{
    content: "";
    height: 100%;
    width: 100%;
    max-width: 33%;
    background: $color-red-pink;
    position: absolute;
    left: 0;
    top: 0;
  }

  .title-wrapper{
    margin-bottom: 30px;

    @include tablet-landscape{
      margin-bottom: 50px;
    }
  }

  .container-me{
    margin: -10px 30px 0 46px;
    position: relative;

    &:before{
      content: "";
      display: block;
      height: 7px;
      top: 12px;
      width: 50px;
      left: -62px;
      background: $color-red-pink;
      border-radius: 20px;
      position: absolute;


      @include tablet-landscape{
        top: 15px;
        width: 70px;
        left: -98px;
      }

    }
  }

  .main-title{
    font: normal em(33) $font-moon;
    color: $color-grape;
    letter-spacing: em(-0.5);
    line-height: em(15);
    margin-bottom: 6px;

    @include tablet-landscape{
      font: normal em(43) $font-moon;
    }

    strong{
      font-family: $font-moon-bold;
    }
  }

  .main-subtitle{
    font: normal em(15) $font-moon-bold;
    color: $color-red-pink;
    font-weight: bold;
    position: relative;
    top: 16px;

    @include tablet-landscape{
      font: normal em(11) $font-moon-bold;
    }
  }

  p{
    font: 300 em(15)/em(18) $font-roboto;
    line-height: 1.5;
    max-width: 490px;
    margin-bottom: 20px;
  }

  .button-skills{
    margin-top: 40px;
    margin-left: -3px;
    border-color: $color-grape;
    color: $color-grape;
    width: 255px;

    span{
      width: 210px;
      font-family: $font-moon-bold;
    }
  }
}

