.page-portfolio{
  @include transition(all 0.7s);
  @include flex(column, center, center);
  background: $color-light-grey;

  &.showing{
    @include transform(scale(0.95));
  }

  .container{
    max-width: 790px;
  }


  .portfolio-detail-close{
    top: 100%!important;
  }

  .secondary-title{
    font: normal em(95) $font-selima;
    color: $color-red-pink;
    position: relative;
    z-index: 40;
    top: 10px;
    left: 20px;
  }

  .swiper-container {
    width: 100%;
    max-width: 790px;
    overflow: visible;
    height: 300px;
    margin: 0 auto;
  }

  .swiper-slide {
    @include transition(opacity 0.5s ease);
    text-align: center;
    font-size: 28px;
    max-width: 790px;
    background: $color-black;
    box-shadow: 0 10px 50px rgba($color-black, 0.2);
    opacity: 0.6;
    overflow: hidden;
    cursor: pointer;
  }



  .swiper-slide-active{
    opacity: 1;

    .project-container{
      @include transition();
    }
    .project-title{
      @include translateY(0);
      opacity: 1;
    }
    .see-it-in-action{
      @include translateY(0);
      opacity: 1;
    }

    &:hover{
      .project-container{
        @include transition(all 3.5s ease 0.6s);
        @include scale(1.25);
      }
    }
  }

  .project-container{
    background: transparent no-repeat center top 100%/cover;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;

    &.loaded{
      opacity: 1;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-black, 0.7);

    }
  }

  .swiper-button-next{
    background: none;
    right: -70px;

  }

  .swiper-button-prev{
    background: none;
    left: -90px;
  }


  .project-data{
    @include flex(column, center, center);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $color-white;
    a{
      color: $color-white;
    }
  }

  .project-title{
    @include transition(all 0.3s ease 0.3s);
    @include translateY(-60px);
    opacity: 0;
    font: normal em(13) $font-moon-bold;
    letter-spacing: em(5);
    position: relative;
    z-index: 2;
  }

  .see-it-in-action{
    @include transition(all 0.3s ease 0.3s);
    @include translateY(60px);
    opacity: 0;
    margin-top: 10px;
    font: normal em(8) $font-moon;
    letter-spacing: em(5);
    position: relative;
    z-index: 2;
  }

}
