.page-skills{
  background: $color-light-grey;

  .page-wrapper{
    @include flex();
    height: 100%;
  }

  .scroll-container{
    width: 100%;
    height: calc(100vh - 216px);
    overflow: auto;
    opacity: 1;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 40px;

    &:after{
      content: "";
      width: calc(100% + 20px);
      height: 50px;
      background: rgba($color-black, 0.5);
      position: relative;
      bottom: 0;
      left: 0;
    }
  }
  aside{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;

    @include tablet-portrait{
      height: 100%;
      position: relative;
      background: #fff;
      width: 100%;
      max-width: 33%;
      padding-right: 25px;
    }

    .button-back{
      @include scale(0.8);
      position: absolute;
      right: auto;
      left: 7px;
      top: 142px;
      width: 146px;
      z-index: 3;

      img{
        display: none;
      }

      .mobile-only{
        display: inline-block;
      }

      .tablet{
        display: none;
      }

      @include tablet-portrait{
        @include scale(1);
        width: auto;
        bottom: 57px;
        right: 30px;
        left: auto;
        top: 10%;
        bottom: auto;

        .mobile-only{
          display: none;
        }

        .tablet{
          display: inline-block;
        }

      }
    }

    .main-title{
      color: $color-white;
      margin: 113px 0 0 20px;
      position: relative;
      z-index: 10;
      width: 100vh;
      font: normal em(23) $font-moon;
      letter-spacing: em(-1);

      @include tablet-portrait{
        color: $color-red-pink;
        font: normal em(33) $font-moon;
        margin-top: 198px;
        margin-left: 0;
        text-align: right;
        position: relative;
        width: 100%;
        max-width: 300px;
        float: right;
      }



      @include tablet-landscape{
        font-size: em(43);
      }


      strong{
        font-family: $font-moon-bold;
      }

      &:before{
        display: block;
        height: 7px;
        top: 34px;
        width: 36px;
        right: -45px;
        border-radius: 87px;
        position: absolute;
        overflow: hidden;
        background: $color-grape;
        z-index: 10;

        @include tablet-portrait{
          content: "";
        }

        @include tablet-landscape{
          top: 42px;
          width: 53px;
          right: -62px;
        }
      }
    }
  }

  .content-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .content{
    height: 0;
    width: 100%;
  }

  .experience-container{
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .skills-experience-header{
    @include transition(all 0.5s cubic-bezier(0.58, 0, 0.09, 0.09));
    @include flex(row, flex-end, flex-start);
    height: 216px;
    width: 100%;
    background: $color-red-pink;
    color: $color-white;
    padding-left: 20px;
    padding-bottom: 7px;
    font: 300 em(10) $font-roboto;
    text-transform: uppercase;
    letter-spacing: em(1);

    @include tablet-portrait{
      padding-left: 70px;
    }
  }

  .skills-experience-toggle,{
    @include flex(row, center, center);
    @include transition();
    max-width: 300px;
    color: $color-white;
    .devicons{
      float: left;
      font-size: 28px;
      margin: 0 0 0 -4px;
    }

    .back-arrow{
      @include rotate(-135);
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 0px;
      margin-left: -2px;
      top: -13px;

      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 2px;
        background: $color-white;
      }

      &:before{
        position: absolute;
        display: block;
        content: "";
        width: 2px;
        height: 8px;
        background: $color-white;
      }
    }
  }

  .experience-list{
    font: 300 em(16) $font-roboto;
    width: 100%;
    color:$color-medium-grey;
    max-width: 93%;
    padding-right: 20px;
    margin-top: 28px;
    margin-bottom: 100px;
    margin-left: 20px;

    @include tablet-portrait{
      margin-left: 70px;
    }

    @include tablet-landscape{
      max-width: 550px;
      padding-right: 30px;
      margin-top: 45px;
    }

    @include desktop-md{
      max-width: 700px;
    }

    li{
      margin-bottom: 50px;
    }

    h3{
      font: 400 em(19) $font-roboto;
      margin-bottom: 15px;

      @include tablet-landscape{
        font: 400 em(23) $font-roboto;
      }
    }

    p{
      margin-bottom: em(15);
    }
  }

  .skillset{
    margin-bottom: 15px;
    margin-left: -2px;
    display: none;

    @include tablet-portrait{
      display: block;
    }

    .skill{
      display: inline-block;
      font-size: 26px;
      margin-right: 10px;
      margin-bottom: 10px;
      opacity: 0.5;
    }
  }

  .skills-container{
    @include transition(all 0.8s cubic-bezier(0.58, 0, 0.09, 0.09) 0.5s);
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: $color-red-pink;
    color: $color-bordeaux;
    z-index: 2;
    overflow: hidden;



    .skills-experience-header{
      @include transition(all 0.3s ease 0.6s);
      background: $color-old-rose;
      height: 0;
      padding: 0;
      overflow: hidden;
      .skills-experience-toggle{
        @include transition( all 0.3s ease 0.5s);
        opacity: 0;
      }
    }

    .scroll-content{
      padding: 49px 0 49px 70px;

      @include tablet-portrait{
        padding: 49px 70px;
      }
    }

    h3{
      font: normal em(16) $font-montserrat;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    dl{
      margin-bottom: 15px;
      font-family: $font-roboto;
      font-weight: 300;

      dt{
        margin-bottom: 15px;
        display: block;
        &.idiom-list{
          float: left;
          min-width: 130px;
        }
      }
    }
  }

  .experience-group{
    margin-top: 50px;
    max-width: 400px;
    padding-right: 15px;
    &:first-child{
      margin-top: 0;
    }

    .devicons{
      font-size: 38px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 12px;
      font-weight: lighter;
      opacity: 0.6
    }
  }

  .technologies-group{
    margin-left: -2px;
  }

  .rating-item{
    opacity: 0.6;
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid $color-bordeaux;
    margin-right: 10px;
    border-radius: 100%;
  }

  .rating-item-full{
    background: $color-bordeaux;
  }

  .animating-to-skills{

    .experience-container{

      .skills-experience-header{
        height: 110%;

        .skills-experience-toggle{
          @include translateX(-20px);
          opacity: 0;
        }
      }
    }

    .skills-container{
      @include transition(all 0.5s ease-out 0.6s);
      height: 100%;

      .skills-experience-header{
        height: 216px;
        padding: 0 0 7px 18px;

        @include tablet-portrait{
          padding: 0 0 7px 70px;

        }

        .skills-experience-toggle{
          @include transition();
          @include translateX(0px);
          opacity: 1;
        }
      }
    }
  }

  .animating-to-experience{

    .skills-container{
      height: 0;

      .skills-experience-header{
        @include transition();
        height: 0;
        padding: 0;

        .skills-experience-toggle{
          @include transition();
          @include translateX(-20px);
          opacity: 0;
        }
      }

      .scroll-container{
        @include transition(all 0.3s ease 0.2s);
        @include translateY(-200px);
        opacity: 0;
      }
    }
    .experience-container{

      .skills-experience-header{
        @include transition();
        height: 216px;

        .skills-experience-toggle{
          opacity: 1;
        }
      }
    }
  }
}
