.portfolio-wrapper{
  @include transition(all 0.6s);
  @include scale(1.2);
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0%;
  top: 0%;
  z-index: 50;
  background: $color-light-grey;

  &.show{
    opacity: 1;
    @include scale(1);
  }

  &.leave{
    opacity: 0;
  }

  p{
    font: 300 em(15) $font-roboto;
    line-height: 1.6;
    text-align: justify;
  }

  .portfolio-header{
    @include flex(row, center, center);
    width: 100%;
    height: 306px;
    color: $color-white;
    position: relative;
  }

  .portfolio-header-bg{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background: rgba($color-grape, 0.75);
  }

  .portfolio-header-title{
    text-align: center;
    position: relative;
    z-index: 2;

    span{
      font-size: em(30);
      display: block;
      margin-bottom: 5px;
    }
    small{
      font-size: em(15);
    }
  }

  .internal-stage{
    background: $color-white;
  }

  .project-info{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .portfolio-content-title{
    margin-bottom: 20px;
    color: $color-red-pink;
    font: normal em(20) $font-moon-bold;
    font-weight: bold;
    display: inline-block;
    position: relative;
    letter-spacing: -1px;

    &:after{
      content: "";
      position: absolute;
      right: -68px;
      top: 9px;
      width: 60px;
      height: 5px;
      border-radius: 12px;
      background: $color-red-pink;
    }
  }



  .project-description-wrapper{
    margin-bottom: 50px;
  }

  .project-descriptions{
    width: 33%;
    float: left;

    .project-technologies{
      margin-top: 30px;
      margin-bottom: 60px;
    }

    .description{
      padding-top: 10px;
      padding-bottom: 40px;
    }
  }

  .screenshot-holder{
    padding-top: 30px;
    width: 740px;
    position: absolute;
    top: 0;
    left: 36%;
    margin-bottom: 80px;
    background: url('/img/screenshot-bar.png') #d9d9d9 no-repeat left top;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 10px 46px rgba(0,0,0,0.23);

    &.fixed{
      position: static;
      clear: both;
      margin-top: 180px;

    }

    &.left{
       float: left;
    }

    &.right{
      float: right;
    }

    &.tablet{
      width: 600px;
      box-shadow: none;
      background: url("/img/ipad.png") no-repeat 0 0 transparent;
      background-size: 100%;
      padding: 71px 69px 84px;
      border-radius: 3px;
      overflow: hidden;
      margin: -510px 120px 0 0;
      img{
        width: 100%;
      }
    }

    &.iphone{
      width: 297px;
      background: url("/img/iphone.png") no-repeat 0 0 transparent;
      box-shadow: none;
      background-size: 100%;
      padding: 70px 28px;
      margin-left: 110px;
      margin-top: 250px;

      img{
        width: 100%;
      }
    }
  }

  .portfolio-details{
    padding-top: 75px;
    background: url('/img/portfolio-detail-bg.svg') $color-light-grey no-repeat center top;
    background-size: 100%;
    width: 100%;
    position: relative;

  }

  .project-technologies{
    width: 100%;
    margin-left: -6px;
    margin-bottom: 30px;
  }

  .technology{
    font-size: 30px;
    margin-bottom: 12px;
    opacity: 0.35;
    display: inline-block;
  }

  .project-screenshots{
    width: 100%;
    max-width: 951px;
    margin: 0 auto 120px;
    position: relative;
    z-index: 2;

    img{
      position: absolute;
      z-index: 1;
      left: 118px;
      top: 40px;
    }
  }

  .project-on-screen-container{
    background: url('/img/macbook-space-screen.png') no-repeat center top;
    width: 100%;
    max-width: 779px;
    height: 530px;
    position: relative;
    z-index: 2;
    margin: 50px auto 0;
  }

  .project-on-screen-base{
    background: url('/img/macbook-space-base.png') no-repeat center top;
    width: 100%;
    max-width: 953px;
    height: 30px;
    margin: 0 auto 120px;
  }
}
