.page-skills{
  background: $color-light-grey;

  .page-wrapper{
    @include flex();
    height: 100%;
  }

  .scroll-container{
    width: calc(100% + 20px);
    height: calc(100vh - 176px);
    overflow: auto;
    opacity: 1;
    overflow-x: hidden;
    position: relative;

    &:after{
      content: "";
      width: calc(100% + 20px);
      height: 50px;
      background: rgba($color-black, 0.5);
      position: relative;
      bottom: 0;
      left: 0;
    }
  }
  aside{
    width: 100%;
    height: 100%;
    background: #fff;
    max-width: 33%;
    padding-right: 25px;
    position: relative;

    .button-back{
      right: 30px;
    }

    .main-title{
      color: $color-red-pink;
      font-size: em(43);
      letter-spacing: em(-1);
      margin-top: 198px;
      text-align: right;
      position: relative;
      width: 100%;
      max-width: 300px;
      float: right;

      strong{
        font-family: $font-moon-bold;
      }

      &:before{
        content: "";
        display: block;
        height: 7px;
        top: 42px;
        width: 53px;
        right: -62px;
        border-radius: 87px;
        position: absolute;
        overflow: hidden;
        background: $color-grape;
        z-index: 10;
      }
    }
  }

  .content-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .content{
    height: 0;
    width: 100%;
  }

  .experience-container{
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .skills-experience-header{
    @include transition(all 0.5s cubic-bezier(0.58, 0, 0.09, 0.09));
    @include flex(row, flex-end, flex-start);
    height: 176px;
    width: 100%;
    background: $color-red-pink;
    color: $color-white;
    padding-left: 100px;
    padding-bottom: 7px;
    font: normal em(10) $font-roboto-regular;
    text-transform: uppercase;
    letter-spacing: em(1);


  }
  .skills-experience-toggle,{
    @include flex(row, center, center);
    @include transition();
    max-width: 300px;
    color: $color-white;
    .devicons{
      float: left;
      font-size: 28px;
      margin: 0 0 0 -4px;
    }

    .back-arrow{
      @include rotate(-45);
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: -10px;
      margin-left: 8px;

      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 2px;
        background: $color-white;
      }

      &:before{
        position: absolute;
        display: block;
        content: "";
        width: 2px;
        height: 8px;
        background: $color-white;
      }
    }
  }

  .experience-list{
    font: normal em(16) $font-roboto-light;
    width: 100%;
    max-width: 700px;
    padding-right: 30px;
    margin-top: 45px;
    margin-bottom: 100px;
    margin-left: 100px;
    color:$color-medium-grey;

    li{
      margin-bottom: 50px;
    }

    h3{
      font: normal em(23) $font-roboto-regular;
      margin-bottom: 15px;
    }

    p{
      margin-bottom: em(15);
    }
  }

  .skillset{
    margin-bottom: 15px;
    margin-left: -2px;

    .skill{
      display: inline-block;
      font-size: 26px;
      margin-right: 11px;
      margin-bottom: 0;
      opacity: 0.8;
    }
  }

  .skills-container{
    @include transition(all 0.8s cubic-bezier(0.58, 0, 0.09, 0.09) 0.5s);
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: $color-red-pink;
    color: $color-white;
    z-index: 2;
    overflow: hidden;

    .skills-experience-header{
      @include transition(all 0.3s ease 0.6s);
      background: $color-old-rose;
      height: 0;
      padding: 0;
      overflow: hidden;
      .skills-experience-toggle{
        @include transition( all 0.3s ease 0.5s);
        opacity: 0;
      }
    }

    .scroll-content{
      padding: 49px 102px;
    }

    h3{
      font: normal em(16) $font-montserrat;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    dl{
      margin-bottom: 15px;
      font-family: $font-roboto-light;

      dt{
        margin-bottom: 15px;
        display: block;
        &.idiom-list{
          float: left;
          min-width: 130px;
        }
      }
    }
  }

  .experience-group{
    margin-top: 50px;
    max-width: 400px;
    padding-right: 15px;
    &:first-child{
      margin-top: 0;
    }

    .devicons{
      font-size: 38px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 12px;
      font-weight: lighter;
      opacity: 0.6
    }
  }

  .technologies-group{
    margin-left: -2px;
  }

  .rating-item{
    opacity: 0.6;
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid $color-white;
    margin-right: 10px;
    border-radius: 100%;
  }

  .rating-item-full{
    background: $color-white;
  }

  .animating-to-skills{

    .experience-container{

      .skills-experience-header{
        height: 110%;

        .skills-experience-toggle{
          @include translateX(-20px);
          opacity: 0;
        }
      }
    }

    .skills-container{
      @include transition(all 0.5s ease-out 0.6s);
      height: 100%;

      .skills-experience-header{
        height: 176px;
        padding: 0 0 7px 100px;

        .skills-experience-toggle{
          @include transition();
          @include translateX(0px);
          opacity: 1;
        }
      }
    }
  }

  .animating-to-experience{

    .skills-container{
      height: 0;

      .skills-experience-header{
        @include transition();
        height: 0;
        padding: 0;

        .skills-experience-toggle{
          @include transition();
          @include translateX(-20px);
          opacity: 0;
        }
      }

      .scroll-container{
        @include transition(all 0.3s ease 0.2s);
        @include translateY(-200px);
        opacity: 0;
      }
    }
    .experience-container{

      .skills-experience-header{
        @include transition();
        height: 176px;

        .skills-experience-toggle{
          opacity: 1;
        }
      }
    }
  }
}
