.page-home{
  background: $color-red-pink;
  .container{
    @include flex(row, center, center);
    height: 100%;
    position: static;
    max-width: 990px;
  }

  .main-splash-container{
    @include flex(column, center, center);
    width: 100%;
    text-align: center;


    @include tablet-landscape{
      @include flex(row, center, center);
      text-align: left;
    }
  }


  .image-container{
    margin-left: -15px;
    margin-bottom: 20px;

    @include tablet-landscape{
      margin: 0;
    }
  }

  .scroll-group{
    display: none;
  }

  .main-logo{
    @include transition(all 0.5s);
    @include translateY(80px);
    width: 60px;
    margin-top: -50px;
    opacity: 0;
    margin-left: 12px;

    @include tablet-portrait{
      width: auto;
      margin-top: 0;
    }
  }

  .title-container{
    margin-left: 0;

    @include tablet-landscape{
      margin-left: 29px;
    }
  }

  .base-title{
    font: normal em(45) $font-peace-sans;
    line-height: em(20);
    margin: 0;
    padding: 0;
    color: $color-rum-swizzle;

    &:nth-child(1){
      @include transition(all 0.5s ease 0.1s);
      @include translateY(80px);
      opacity: 0;
    }

    &:nth-child(2){
      @include transition(all 0.5s ease 0.2s);
      @include translateY(80px);
      margin-bottom: 20px;
      opacity: 0;
    }


    @include tablet-portrait{
      font: normal em(70.4) $font-peace-sans;
      margin: 0;

      &:nth-child(2){
        margin-bottom: 0;
      }
    }
  }

  .base-subtitle{
    @include transition(all 0.5s ease 0.8s);
    opacity: 0;
    font: normal em(12.7) $font-moon-bold;
    color: $color-grape;
    letter-spacing: 1px;
    position: relative;
    top: 80px;
  }

  .button-more{
    @include transition(all 0.8s ease 1.5s);
    @include translateX(-30px);
    opacity: 0;
    margin-top: 47px;
    margin-left: 0;
    min-width: 208px;

    @include tablet-portrait{
      min-width: 278px;
      margin-left: -17px;
    }

    @include tablet-landscape{
      margin-left: 55px;
      margin-top: -17px;
    }

    .more-label{
      letter-spacing: em(2);
      width: 210px;
      text-align: center;
    }

    .more-arrow{
      @include transition();
      margin-top: -3px;
      margin-right: -5px;
    }

    &:hover{
      border-thickness: 4px;
      .more-arrow{
        @include translateX(3px);
      }
    }
  }

  .button-more-content{
    @include flex(column, center, center);
    color: $color-white;
    font: normal em(13) $font-moon;
    letter-spacing: em(2);
    position: absolute;
    bottom: 7px;
    @include scale(0.8);
    left: calc(50% - 70px);


    @include tablet-portrait{
      @include scale(1);
      bottom: 27px;
      left: calc(50% - 79px);
    }

    span{
      @include transition(all 0.3s ease 2.6s);
      @include translateY(50px);
      opacity: 0;
    }

    img{
      @include transition(all 0.3s ease 2.7s);
      @include translateY(50px);
      opacity: 0;
      margin-top: 20px;
    }
  }
}
