.page-about{
  display: none;
  position: relative;

  .image-wrapper{
    background: url("/img/this-is-me.jpg") $color-palatinate-purple no-repeat 39% 100%/cover;
    height: 40%;
    flex: 0 0 250px;
    margin-top: -24px;
    margin-left: 21px;
    position: relative;
    display: none;

    @include tablet-portrait{
      display: block;
    }
    @include tablet-landscape{
      width: 380px;
      height: 70%;
      flex: 0 0 340px;
      max-height: 500px;
    }

    @include desktop-md{
      max-height: 580px;
    }

    .button-back{
      top: -12%;
      left: 0;
      display: none;

      @include tablet-portrait{
        display: block;
      }
    }
  }

  .button-back{
    left: 15.5%;
    display: none;

      @include tablet-portrait{
        display: none;
      }
  }

  .container{
    @include flex(row, center, flex-start);
    margin: 0;
    height: 100%;
    position: relative;

    @include tablet-landscape{
       @include translateX(10%);
       width: 80%;
    }

    @include desktop-md{
       @include translateX(35%);
       width: 60%;
    }
  }

  &:before{
    content: "";
    height: 100%;
    max-width: 75px;
    width: 100%;
    background: $color-red-pink;
    position: absolute;
    left: 0;
    top: 0;


    @include tablet-portrait{
    max-width: 33%;
    }
  }

  .title-wrapper{

    margin-bottom: 35px;

    @include tablet-landscape{
    }
  }

  .container-me{
    margin: 50px 0px 0 70px;
    width: 100%;
    max-width: 300px;
    position: relative;

    @include tablet-portrait{
      margin: -10px 30px 0 46px;
      max-width: 400px;
    }

    &:before{
      display: block;
      height: 7px;
      top: 12px;
      width: 50px;
      left: -62px;
      background: $color-red-pink;
      border-radius: 20px;
      position: absolute;


      @include tablet-landscape{
        content: "";
        top: 15px;
        width: 70px;
        left: -98px;
      }
    }
  }

  .main-title{
    font: normal em(20) $font-moon;
    color: $color-grape;
    letter-spacing: em(-0.5);
    line-height: em(17);
    margin-bottom: -15px;


    @include tablet-portrait{
      font: normal em(23) $font-moon;
    }

    @include tablet-landscape{
      font: normal em(35) $font-moon;
    }

    strong{
      font-family: $font-moon-bold;
    }
  }

  .main-subtitle{
    font: normal em(10) $font-moon-bold;
    color: $color-red-pink;
    font-weight: bold;
    position: relative;
    top: 16px;

    @include tablet-landscape{
      font: normal em(12) $font-moon-bold;
    }
  }

  p{
    font: 300 0.8em $font-roboto;
    line-height: 1.5;
    max-width: 490px;
    margin-bottom: 10px;


    @include tablet-portrait{
      font-size: 1em;
      margin-bottom: 20px;
    }

  }

  .button-skills{
    margin-top: 20px;
    margin-left: -3px;
    border-color: $color-grape;
    color: $color-grape;
    width: 205px;

    @include tablet-portrait{
    margin-top: 30px;
    width: 255px;

    }

    span{
      width: 210px;
      font-family: $font-moon-bold;
    }
  }
}

