.page-about{
  display: none;
  position: relative;

  .image-wrapper{
    background: url("/img/this-is-me.jpg") $color-palatinate-purple no-repeat 39% 100%/cover;
    width: 380px;
    height: 70%;
    max-height: 580px;
    flex: 0 0 340px;
  }

  .container{
    @include flex(row, center, flex-start);
    @include translateX(35%);
    width: 60%;
    margin: 0;
    height: 100%;
    position: relative;
  }

  &:before{
    content: "";
    height: 100%;
    width: 100%;
    max-width: 33%;
    background: $color-red-pink;
    position: absolute;
    left: 0;
    top: 0;
  }

  .title-wrapper{
    margin-bottom: 50px;
  }

  .container-me{
    margin: -10px 0 0 76px;
    position: relative;
    &:before{
      content: "";
      display: block;
      height: 7px;
      top: 15px;
      width: 70px;
      left: -98px;
      background: $color-red-pink;
      border-radius: 20px;
      position: absolute;

    }
  }

  .main-title{
    font: normal em(43) $font-moon;
    color: $color-grape;
    letter-spacing: em(-0.5);
    line-height: em(15);
    margin-bottom: 6px;

    strong{
      font-family: $font-moon-bold;
    }
  }

  .main-subtitle{
    font: normal em(15) $font-moon-bold;
    color: $color-red-pink;
    font-weight: bold;
    position: relative;
    top: 16px;
  }

  p{
    font: 300 em(15)/em(18) $font-roboto;
    line-height: 1.5;
    max-width: 490px;
    margin-bottom: 20px;
  }

  .button-skills{
    margin-top: 40px;
    margin-left: -3px;
    border-color: $color-grape;
    color: $color-grape;
    width: 255px;

    span{
      width: 210px;
      font-family: $font-moon-bold;
    }
  }
}

