<div class="page bio">
  <div class="svg-wrapper">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="container">
    <div class="text-container">
      <h2 class="type-secondary">That's me.</h2>
      <p>
        Since 2008 i've been helping companies on building significant digital
        experiencies involving a wide range of technologies, culture and most
        important, people So far, It has been 12 years of coding, coffee and
        achievements. If you want to see some highlights of these years, click
        here.
      </p>
    </div>
  </div>
</div>
