<div class="page active home">
  <div class="hero">
    <div class="img-wrapper">

        <img
        width="40"
        src="${require('../img/leo.svg')}"
        alt="hello! i am leo"
      />

        <img
        width="40"
        src="${require('../img/code.svg')}"
        alt="a front-end engineer"
      />

        <img
        width="40"
        src="${require('../img/holland.svg')}"
        alt="Based in Utrecht, Netherlands."
      />

    </div>
    <h1 class="type-secondary">
      <span class="fade-in">Hello!</span>
      <br />
      <span class="fade-in">I</span>
      <span class="fade-in">am</span>
      <span class="fade-in">Leo</span>
    </h1>
    <p>
      <span class="fade-in">Front-end</span>
      <span class="fade-in">developer</span>
      <span class="fade-in">based</span>
      <span class="fade-in">in</span>
      <span class="fade-in">Utrecht,</span>
      <span class="fade-in">NL</span>
    </p>

    <ul>
      <li><span class="fade-in"><a href="">Bio</a></span></li>
      <li><span class="fade-in"><a href="">Projects</a></span></li>
      <li><span class="fade-in"><a href="">Talks</a></span></li>
      <li><span class="fade-in"><a href="">Blog</a></span></li>
      <li><span class="fade-in"><a href="">Contact</a></span></li>
    </ul>
  </div>

  <div class="waves-wrapper">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>