<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="theme-color" content="#fb385f" />
  <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/manifest.json">
  <title>I am Leo - Front-end Developer - +55 81 999 696 270</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/jquery.browser/dist/jquery.browser.min.js"></script>
    <script src="components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="components/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="components/fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="components/waitForImages/dist/jquery.waitforimages.min.js"></script>
    <script src="js/app.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  <% }else{ %>
    <script src="dist/js/app.min.js"></script>
  <% } %>

  <style id="temp-style">
    .typo-wait{
      font-family: sans-serif;
      font-size: 12px;
      animation: animationFrames ease 0.8s;
      animation-iteration-count: 1;
      animation-fill-mode:forwards;
      -webkit-animation: animationFrames ease 0.8s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode:forwards;
      -moz-animation: animationFrames ease 0.8s;
      -moz-animation-iteration-count: 1;
      -moz-transform-origin: 50% 50%;
      -moz-animation-fill-mode:forwards;
      -o-animation: animationFrames ease 0.8s;
      -o-animation-iteration-count: 1;
      -o-transform-origin: 50% 50%;
      -o-animation-fill-mode:forwards;
      -ms-animation: animationFrames ease 0.8s;
      -ms-animation-iteration-count: 1;
      -ms-transform-origin: 50% 50%;
      -ms-animation-fill-mode:forwards;

    }

    @keyframes animationFrames{
      0% {
        opacity:0;
        transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
      }
    }

    @-moz-keyframes animationFrames{
      0% {
        opacity:0;
        -moz-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
      }
    }

    @-webkit-keyframes animationFrames {
      0% {
        opacity:0;
        -webkit-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
      }
    }

    @-o-keyframes animationFrames {
      0% {
        opacity:0;
        -o-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
      }
    }

    @-ms-keyframes animationFrames {
      0% {
        opacity:0;
        -ms-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
      }
    }
  </style>

</head>
<body>


