<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>I am Leo</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="components/fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="components/waitForImages/dist/jquery.waitforimages.min.js"></script>
    <script src="js/app.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  <% }else{ %>
    <script src="dist/js/app.min.js"></script>
  <% } %>

  <style id="temp-style">
    .typo-wait{
      font-family: sans-serif;
      font-size: 12px;
      animation: animationFrames ease 0.8s;
      animation-iteration-count: 1;
      animation-fill-mode:forwards;
      -webkit-animation: animationFrames ease 0.8s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode:forwards;
      -moz-animation: animationFrames ease 0.8s;
      -moz-animation-iteration-count: 1;
      -moz-transform-origin: 50% 50%;
      -moz-animation-fill-mode:forwards;
      -o-animation: animationFrames ease 0.8s;
      -o-animation-iteration-count: 1;
      -o-transform-origin: 50% 50%;
      -o-animation-fill-mode:forwards;
      -ms-animation: animationFrames ease 0.8s;
      -ms-animation-iteration-count: 1;
      -ms-transform-origin: 50% 50%;
      -ms-animation-fill-mode:forwards;

    }

    @keyframes animationFrames{
      0% {
        opacity:0;
        transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
      }
    }

    @-moz-keyframes animationFrames{
      0% {
        opacity:0;
        -moz-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
      }
    }

    @-webkit-keyframes animationFrames {
      0% {
        opacity:0;
        -webkit-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
      }
    }

    @-o-keyframes animationFrames {
      0% {
        opacity:0;
        -o-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
      }
    }

    @-ms-keyframes animationFrames {
      0% {
        opacity:0;
        -ms-transform:  translate(0px,38px)  ;
      }
      100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
      }
    }
  </style>

</head>
<body>


