<% include header %>

<div id="fullpage">

  <div class="section">
    <% include view-home %>
    <% include view-about %>
    <% include view-skills %>
  </div>
  <% include view-portfolio %>
  <% include view-contact %>
</div>
<div class="main-nav-wrapper">
  <div class="logo-glass-wrapper">
    <img src="img/glass.svg" alt="">
  </div>
  <div class="main-nav">
    <a href="javascript:;" class="menu-icon">
      <span>Menu</span>
    </a>

    <nav>
      <a href="#">Home</a>
      <a href="#home/about">About</a>
      <a href="#home/skills-and-experience">Skills</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
<!--
  <a href="http://github.com/lhew/portfolio" class="button-download-my-code">
    <span>
      Hey, you can <br>
      download my  <br>
      code if you <br>
      want
    </span>
    <figure>
      <img src="img/share-icon.svg" alt="Get this code at github">
    </figure>
  </a>
  -->
</div>
<div class="preloader-wrapper">
  <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve" class="preloader">
      <path d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
        <animateTransform
           attributeName="transform"
           attributeType="XML"
           type="rotate"
           dur="0.6s"
           from="0 50 50"
           to="360 50 50"
           repeatCount="indefinite" />
    </path>
  </svg>
</div>
<% include view-portfolio-detail %>
<% include footer %>
