<% include header %>
  <main class="site-wrapper">
    <div class="page-group">
      <div class="page page-home">
        <div class="container">

          <div class="mini-nav-container">
            <div class="navigator-stack">
              <a href="#" class="nav-to page-home"><span>Home</span></a>
              <a href="#" class="nav-to page-portfolio"><span>Portfolio</span></a>
              <a href="#" class="nav-to page-contact"><span>Contact</span></a>
            </div>
            <div class="navigator-stack">
              <a href="#" class="nav-to page-skills"><span>Skills</span></a>
            </div>
            <div class="navigator-stack">
              <a href="#" class="nav-to page-about"><span>About</span></a>
            </div>
          </div>

          <section class="main-splash-container">
            <div class="image-container">
              <img src="img/logo.svg" alt="that's me :D" class="main-logo">

              <div class="scroll-group">
                <span>
                  Scroll
                </span>
                <img src="img/mouse.svg" alt="">
              </div>
            </div>
            <div class="title-container">
              <h1 class="base-title">
                Hello, <br> i am <span class="fancy-title">Leo</span>
              </h1>
              <small class="base-subtitle">
                Front-end developer @ Recife
              </small>
            </div>
            <div class="button-container">
              <a href="#" class="more">
                <span class="more-label">See it for yourself</span>
                <img src="img/arrow-caret-right.svg" alt="" class="more-arrow">
              </a>
            </div>
          </section>

          <a href="#" class="button-more-content">
            See me in action
          </a>

          <a href="http://github.com/lhew/portfolio" class="button-download-my-code">
            <span>
              Hey, you can <br>
              download my code <br>
              if you want
            </span>
            <img src="img/share-icon.svg" alt="Get this code at github">
          </a>
        </div>
      </div>
      <div class="page page-portfolio">
        <div class="container">
          <h2 class="secondary-title">My Work</h2>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">Transforma Recife</div>
              <div class="swiper-slide">Wintersport/Sunweb</div>
              <div class="swiper-slide">SUATI</div>
              <div class="swiper-slide">Manhattan</div>
              <div class="swiper-slide">Multi Planejamento</div>
              <div class="swiper-slide">Radio Skol</div>
              <div class="swiper-slide">Super con</div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>

      <div class="page page-contact">

      </div>
    </div>
    <div class="page-group">
      <div class="page page-about">
        <div class="container">
          <a href="#" class="button-back">
            <img src="img/arrow-left.svg" alt="Back to Home">
            <span>Back</span>
          </a>

          <figure class="image-wrapper">
            <img src="img/this-is-me.jpg" alt="This is me">
          </figure>

          <section class="container-me">
              <div class="title-wrapper">
                <h2 class="main-title">Leonardo <br><strong>Almeida</strong></h2>
                <small class="main-subtitle">Front-end Developer</small>
              </div>

              <p>
                One of the “tricks” I find most useful for hosting stress-free dinner parties is to make some of the recipes ahead. I find that too many last minute jobs can overwhelm me, so I plan ahead to eliminate as many as possible.
              </p>

              <a href="#" class="button button-skills">
                <span>Skills and Experience</span>
                <img src="img/arrow-caret-right.svg" alt="">
              </a>
          </section>
        </div>
      </div>
    </div>
    <div class="page-group">
      <div class="page page-skills">

      </div>
    </div>
  </main>
<% include footer %>
