<div class="portfolio-wrapper">
  <a href="javascript:;" class="close-button"><img src="/img/delete.svg" alt=""></a>

  <header class="portfolio-header">
    <h2 class="portfolio-header-title">
      <span>Transforma Recife</span>
      <small>Collaborative network</small>
    </h2>
  </header>
  <main class="portfolio-details">
    <div class="container">
      <section class="project-info">
        <div class="project-content">
        <h3 class="portfolio-content-title">About</h3>
          <p>
            There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun. The truth is the universe is a constantly changing, moving, some would say “living” thing because you just never know what you are going to see on any given night of stargazing.
          </p>
        </div>
        <div class="project-technologies">
          <span class="technology devicons devicons-html5"></span>
          <span class="technology devicons devicons-css3"></span>
          <span class="technology devicons devicons-angular"></span>
          <span class="technology devicons devicons-ruby_on_rails"></span>
          <span class="technology devicons devicons-nodejs_small"></span>
          <span class="technology devicons devicons-less"></span>
          <span class="technology devicons devicons-grunt"></span>
          <span class="technology devicons devicons-postgresql"></span>
        </div>
      </section>

    </div>
    <section class="project-screenshots">
      <div class="project-on-screen-container">
          <div class="project-screen" style='background: url("/img/site-transforma-recife.jpg") no-repeat center top 100%'></div>
       </div>
       <div class="project-on-screen-base"></div>
    </section>
  </main>
</div>

