    <div class="page page-home slide" >

        <div class="mini-nav-container">
          <div class="navigator-stack">
            <a href="#" class="nav-to" data-page=".page-home"><span>Home</span></a>
            <a href="#" class="nav-to" data-page=".page-portfolio"><span>Portfolio</span></a>
            <a href="#" class="nav-to" data-page=".page-contact"><span>Contact</span></a>
          </div>
          <div class="navigator-stack">
            <a href="#" class="nav-to" data-page=".page-about"><span>About</span></a>
          </div>
          <div class="navigator-stack">
            <a href="#" class="nav-to" data-page=".page-skills"><span>Skills</span></a>
          </div>
        </div>

        <div class="container" id="main-container">
          <section class="main-splash-container" id="main-splash-container">
            <div class="image-container">
              <img src="img/logo.gif" alt="that's me :D" class="main-logo" id="main-logo">
            </div>
            <div class="title-container">
              <p class="base-title">
                Hello,
              </p>
              <p class="base-title">
                i am <span class="fancy-title">Leo.</span>
              </p>
              <small class="base-subtitle">
                Front-end developer @ Recife
              </small>
            </div>
            <div class="button-container">
              <a href="#" class="button button-more">
                <span class="more-label">See it for yourself</span>
                <img src="img/arrow-caret-white.svg" alt="" class="more-arrow">
              </a>
            </div>
          </section>

        </div>

        <a href="javascript:;" class="button-more-content">
          <span>See me in action</span>
          <img src="img/arrow-caret-down-white.svg" alt="" class="more-arrow">
        </a>
    </div>
