    <div class="page page-about slide">
      <div class="container">
        <div class="image-wrapper">
          <a href="javascript:;" class="button-back button-back-to-home">
            <img data-src="img/arrow-left-white.svg" alt="Back to Home">
            <span>Back</span>
          </a>
        </div>
        <a href="javascript:;" class="button-back button-back-to-home">
          <img data-src="img/arrow-left-white.svg" alt="Back to Home">
          <span>Back</span>
        </a>
        <section class="container-me">
            <div class="title-wrapper">
              <h2 class="main-title">Leonardo <br><strong>Almeida</strong></h2>
              <small class="main-subtitle"><%= lang.about.role %></small>
            </div>

            <p>
              <%- lang.about.text_paragraph_1%>
            </p>

            <p>
              <%= lang.about.text_paragraph_2%>
            </p>

            <a href="#" class="button button-skills">
              <span><%=lang.about.skills_experience_button %></span>
              <img data-src="img/arrow-caret-right.svg" alt="">
            </a>
        </section>
      </div>
    </div>
