<div class="section page page-contact">

  <div class="container">
    <img data-src="/img/<%=lang.idiom.current%>-header-get-in-touch.svg" alt="">
    <div class="contact-headline">
      <%-lang.contact.headline%>
    </div>
    <div class="social-networks">
      <a href="https://www.facebook.com/lhew.marques" rel="external" target="_blank">
        <img src="/img/icon-facebook.svg" alt="">
      </a>
      <a href="https://br.linkedin.com/in/lalmeida1985" rel="external" target="_blank">
        <img src="/img/icon-linkedin.svg" alt="">
      </a>
    </div>
  </div>

</div>
