<div class="page page-portfolio section">
  <div class="container">
    <h2 class="secondary-title">My Work</h2>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide project-transforma" data-detail="transforma-recife-details">
          <div class="project-container loaded" style="background-image: url(/img/site-transforma-recife.jpg)"></div>
          <div class="project-data">
            <h3 class="project-title">Transforma Recife</h3>
            <a href="javascript:;" class="see-it-in-action">See me in action</a>
          </div>
        </div>
        <div class="swiper-slide project-holidays" data-detail="sunweb-holidays-details">
          <div class="project-container" data-bg="/img/site-sunweb.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Sunweb Holidays</h3>
            <a href="javascript:;" class="see-it-in-action">See me in action</a>
          </div>
        </div>
        <div class="swiper-slide project-suati">
          <div class="project-container" data-bg="/img/site-suati.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">SUATI</h3>
            <a href="javascript:;" class="see-it-in-action">See me in action</a>
          </div>
        </div>
        <div class="swiper-slide project-manhattan" data-detail="manhattan-details">
          <div class="project-container" data-bg="/img/site-manhattan.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Manhattan Cafe &amp; Theatro</h3>
            <a href="javascript:;" class="see-it-in-action">See me in action</a>
          </div>
        </div>
        <div class="swiper-slide project-multi">
          <div class="project-container" data-bg="/img/site-multi.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Multi Planejamento</h3>
            <a href="javascript:;" class="see-it-in-action">See me in action</a>
          </div>
        </div>
    </div>
    <div class="swiper-button-prev"><img src="/img/arrow-left.svg" alt=""></div>
    <div class="swiper-button-next"><img src="/img/arrow-right.svg" alt=""></div>
  </div>
</div>
