<div class="portfolio-wrapper">
  <a href="javascript:;" class="close-button"><img src="/img/delete.svg" alt=""></a>
  <div class="portfolio-detail">
    <div class="portfolio-bg">
      <div class="portfolio-presentation-container">
        <h2 class="main-title">Portfolio detail</h2>
        <h3 class="main-subtitle">
          A brief history of how it was built
        </h3>

        <nav>
          <a href="javascript:;">The Project</a>
          <a href="javascript:;">Technologies</a>
          <a href="javascript:;">Role</a>
          <a href="javascript:;">Results</a>
        </nav>
        <div class="title-fill"></div>
      </div>
    </div>
    <section class="portfolio-content">

      <div class="menu-spacer"></div>
      <div class="portfolio-content-wrapper">
        <div class="header-wrapper">
          <h3>The Project</h3>
          <div class="header-bg"></div>
        </div>

        <div class="container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus excepturi totam facilis commodi nobis explicabo, recusandae blanditiis nisi inventore consectetur sed nemo, numquam quae esse, minima quisquam odit voluptatem!</p>

          <div class="img-wrapper">
            <img src="http://lorempixel.com/400/200/sports" />
          </div>
        </div>

        <div class="header-wrapper">
          <h3>Technologies</h3>
          <div class="header-bg"></div>
        </div>

        <div class="container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus excepturi totam facilis commodi nobis explicabo, recusandae blanditiis nisi inventore consectetur sed nemo, numquam quae esse, minima quisquam odit voluptatem!</p>

          <div class="img-wrapper">
            <img src="http://lorempixel.com/400/200/food" />
          </div>
        </div>

        <div class="header-wrapper">
          <h3>Role</h3>
          <div class="header-bg"></div>
        </div>

        <div class="container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus excepturi totam facilis commodi nobis explicabo, recusandae blanditiis nisi inventore consectetur sed nemo, numquam quae esse, minima quisquam odit voluptatem!</p>

          <div class="img-wrapper">
            <img src="http://lorempixel.com/400/200/nature" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
