<div class="page page-skills slide" id="page-skills">
  <div class="page-wrapper">
    <aside>
      <a href="#home" class="button-back button-back-to-about">
        <img src="img/arrow-left.svg" alt="Back to About">
        <span>Back</span>
      </a>
      <h2 class="main-title">
        Skills and
        <strong>Experience</strong>
      </h2>
    </aside>
    <div class="content-wrapper">
      <section class="content skills-container">
          <header class="content skills-experience-header">
            <a href="javascript:;" class="skills-experience-toggle">
              <span class="back-arrow"></span>
              <span>Back to Experience</span>
            </a>
          </header>
          <div class="scroll-container default-skin">
            <div class="scroll-content">
              <div class="experience-group">
                <h3>Idioms</h3>
                <dl>
                  <dt class="idiom-list">Portuguese</dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                  </dt>
                  <dt class="idiom-list">English</dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item"></span>
                  </dt>
                  <dt class="idiom-list">Spanish</dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item"></span>
                    <span class="rating-item"></span>
                  </dt>
                </dl>
              </div>
              <div class="experience-group">
                <h3>Expert at</h3>
                <div class="technologies-group">
                  <span class="devicons devicons-html5"></span>
                  <span class="devicons devicons-css3"></span>
                  <span class="devicons devicons-javascript_badge"></span>
                  <span class="devicons devicons-jquery"></span>
                  <span class="devicons devicons-wordpress"></span>
                </div>
              </div>
              <div class="experience-group">
                <h3>Proficient at</h3>
                <div class="technologies-group">
                  <span class="devicons devicons-php"></span>
                  <span class="devicons devicons-angular"></span>
                  <span class="devicons devicons-git"></span>
                  <span class="devicons devicons-sass"></span>
                  <span class="devicons devicons-less"></span>
                  <span class="devicons devicons-bootstrap"></span>
                  <span class="devicons devicons-nodejs_small"></span>
                  <span class="devicons devicons-grunt"></span>
                  <span class="devicons devicons-bower"></span>
                  <span class="devicons devicons-yeoman"></span>
                  <span class="devicons devicons-npm"></span>
                  <span class="devicons devicons-gulp"></span>
                  <span class="devicons devicons-terminal"></span>
                  <span class="devicons devicons-phonegap"></span>
                  <span class="devicons devicons-mysql"></span>

                </div>
              </div>
              <div class="experience-group">
                <h3>Familiar with</h3>
                <div class="technologies-group">
                  <span class="devicons devicons-heroku"></span>
                  <span class="devicons devicons-coffeescript"></span>
                  <span class="devicons devicons-zend"></span>
                  <span class="devicons devicons-laravel"></span>
                  <span class="devicons devicons-dotnet"></span>
                  <span class="devicons devicons-ruby_on_rails"></span>
                  <span class="devicons devicons-travis"></span>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="content experience-container">
          <header class="content skills-experience-header">
            <a href="javascript:;" class="skills-experience-toggle"> <span class="devicons devicons-code"></span><span>View full Skillset</span></a>
          </header>
          <div class="scroll-container default-skin">
            <button class="focus-workaround"></button>
            <ul class="experience-list">
              <li class="experience-item">
                <h3>Bemind Tecnologia</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-ruby_on_rails" data-desc="Ruby on Rails"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-gulp" data-desc="Gulp"></li>
                  <li class="skill devicons devicons-grunt" data-desc="Grunt"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-less" data-desc="Less"></li>
                  <li class="skill devicons devicons-bower" data-desc="Bower"></li>
                  <li class="skill devicons devicons-yeoman" data-desc="Yeoman"></li>
                  <li class="skill devicons devicons-materializecss" data-desc="Materialize CSS"></li>
                  <li class="skill devicons devicons-trello" data-desc="Trello"></li>
                  <li class="skill devicons devicons-heroku" data-desc="Heroku"></li>
                  <li class="skill devicons devicons-coffeescript" data-desc="CoffeeScript"></li>
                  <li class="skill devicons devicons-postgresql" data-desc="PostgreSql"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-ionic" data-desc="Ionic"></li>

                </ul>
                <p>
                  At Bemind i could develop projects with cutting edge technologies
                  and help the team with my front-end skills while i  got helped during
                  development of some nodejs and ruby on rails code.
                </p>
                <p>
                  It was a great experience work with bemind guys due their great
                  sence of collaboration and willingnes for develop new things with
                  new technologies, which caused positive impact in both company and
                  programmers.
                </p>
              </li>
              <li>
                <h3>Altran España</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-compass" data-desc="Compass"></li>
                  <li class="skill devicons devicons-jira" data-desc="Jira"></li>
                  <li class="skill devicons devicons-dotnet" data-desc="Dot Net"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-git"></li>
                </ul>
                <p>
                  In Altran i was able to work with great programmers and learn
                  incredible programming techniques such as SOLID and apply some
                  javascript patterns while i was demanded to work in a very fast-paced
                  environment with sprints of 15 days.
                </p>
                <p>
                  The outcome of my participation was the decrease of opened
                  front-end issues and the development of new features for some of
                  their new websites.
                </p>
              </li>
              <li>
                <h3>
                  SUATI - Suporte Avançado em Tecnologia da Informação
                </h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-jira" data-desc="Jira"></li>
                  <li class="skill devicons devicons-dotnet" data-desc=".net"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                </ul>
                <p>
                  SUATI has a very tough selection process that ensures the company
                  the best professionals of theyr fields. The results
                  of such a heavy process is a high qualified IT team which assures
                  great software quality.
                </p>
                <p>
                  There, i could work with the whole microsoft technology stack,
                  developed their website and bug fixing front-end issues of their
                  web-based systems.
                </p>
              </li>
              <li>
                <h3>
                  Caju Agência Digital
                </h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-phonegap" data-desc="Phonegap"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-grunt" data-desc="Grunt"></li>
                  <li class="skill devicons devicons-less" data-desc="Less"></li>
                  <li class="skill devicons devicons-bower" data-desc="Bower"></li>
                  <li class="skill devicons devicons-yeoman" data-desc="Yeoman"></li>
                  <li class="skill devicons devicons-wordpress" data-desc="Wordpress"></li>
                  <li class="skill devicons devicons-mysql" data-desc="Mysql"></li>
                  <li class="skill devicons devicons-php" data-desc="php"></li>
                  <li class="skill devicons devicons-requirejs" data-desc="RequireJS"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-terminal"></li>
                  <li class="skill devicons devicons-ionic" data-desc="Ionic"></li>
                </ul>
                <p>
                  Caju is a Web agency based on Recife which develop solutions for
                  several local and international clients.
                </p>
                <p>
                  There i was free to suggest and implement all kinds of innovative
                  solutions regarding to front-end and mobile development.
                </p>
                <p>
                  My collaboration for the company was increase speed to the project
                  deliver such as implement some new technologies to their web projects
                  assuring the quality and consistency of project deliverables.
                </p>
              </li>
              <li>
                <h3>Fingertips(Pontomobi)</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-responsive"></li>
                  <li class="skill devicons devicons-sass"></li>
                  <li class="skill devicons devicons-terminal"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-php"></li>
                </ul>
                <p>
                  Fingertips(Pontomobi) was a company specialized on develop mobile
                  solutions for their clients.
                </p>
                <p>
                  There, i developed some mobile websites and helped the team to
                  keep the quality of web-based systems by using the latest technologies
                  at that time.
                </p>
              </li>
              <li>
                <h3>C.E.S.A.R</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-android"></li>
                  <li class="skill devicons devicons-java"></li>
                  <li class="skill devicons devicons-dotnet"></li>
                  <li class="skill devicons devicons-wordpress"></li>
                  <li class="skill devicons devicons-mysql"></li>
                  <li class="skill devicons devicons-php"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                </ul>
                <p>
                  CESAR is an reference innovation center in Brazil which count with
                  very tallented developers in their staff. Leading projects of
                  companies like Motorola pushes them to develop high level
                  products and guarantee their reputation of awarded noon-profit company
                  in Brazil and worldwide.
                </p>
                <p>
                  My participation on CESAR is related to develop android applications to
                  and several different clients and deliver internal systems in an agile environment.
                </p>
              </li>
              <li>
                You can check the full list of companies i worked at my <a href="https://br.linkedin.com/in/lalmeida1985
  " rel="external">LinkedIn profile</a>
              </li>
            </ul>
          </div>
      </section>
    </div>
  </div>
</div>
