    <div class="page page-about slide">
      <div class="container">
        <div class="image-wrapper"></div>
        <a href="#home/" class="button-back button-back-to-home">
          <img src="img/arrow-left-white.svg" alt="Back to Home">
          <span>Back</span>
        </a>
        <section class="container-me">
            <div class="title-wrapper">
              <h2 class="main-title">Leonardo <br><strong>Almeida</strong></h2>
              <small class="main-subtitle">Front-end Developer</small>
            </div>

            <p>
              I'm from Brazil and i work with IT for 10 years and
              since 2008, i provide front-end development and
              wordpress/mobile integrations.
            </p>

            <p>
              Passioned by design and programming, since i met
              front-end development i felt i could bring these
              two passions together and then, collaborate in a
              creative way to develop a better human connections
              through technology.
            </p>

            <a href="#" class="button button-skills">
              <span>Skills and Experience</span>
              <img src="img/arrow-caret-right.svg" alt="">
            </a>
        </section>
      </div>
    </div>
