.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px; }
  .container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.row {
  margin: 0 -30px; }
  .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.col, .col-3, .col-4, .col-6, .col-12 {
  padding: 0 15px;
  float: left;
  width: 100%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333%; }

.col-6 {
  width: 50%; }

.col-12 {
  width: 100%; }

html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure, figcaption {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  *font-size: 100%; }

legend {
  color: #000; }

a {
  text-decoration: none;
  outline: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "peace-sans";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/PeaceSans.eot?") format("eot"), url("../fonts/PeaceSans.woff2") format("woff2"), url("../fonts/PeaceSans.woff") format("woff"), url("../fonts/PeaceSans.ttf") format("truetype"), url("../fonts/PeaceSans.svg#peace-sans") format("svg"); }

@font-face {
  font-family: "moon";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/Moon-Light.eot?") format("eot"), url("../fonts/Moon-Light.woff2") format("woff2"), url("../fonts/Moon-Light.woff") format("woff"), url("../fonts/Moon-Light.ttf") format("truetype"), url("../fonts/Moon-Light.svg#moon") format("svg"); }

@font-face {
  font-family: "moon-bold";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/Moon-Bold.eot?") format("eot"), url("../fonts/Moon-Bold.woff2") format("woff2"), url("../fonts/Moon-Bold.woff") format("woff"), url("../fonts/Moon-Bold.ttf") format("truetype"), url("../fonts/Moon-Bold.svg#moon-bold") format("svg"); }

@font-face {
  font-family: "selima";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/Selima.eot?") format("eot"), url("../fonts/Selima.woff2") format("woff2"), url("../fonts/Selima.woff") format("woff"), url("../fonts/Selima.ttf") format("truetype"), url("../fonts/Selima.svg#selima") format("svg"); }

@font-face {
  font-family: "montserrat";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#montserrat") format("svg"); }

@font-face {
  font-family: "montserrat-bold";
  font-style: "normal";
  font-weight: "normal";
  src: url("../fonts/Montserrat-bold.eot?") format("eot"), url("../fonts/Montserrat-bold.woff2") format("woff2"), url("../fonts/Montserrat-bold.woff") format("woff"), url("../fonts/Montserrat-bold.ttf") format("truetype"), url("../fonts/Montserrat-bold.svg#montserrat-bold") format("svg"); }

html {
  height: 100%; }

.general-wrapper {
  overflow: hidden; }

a {
  text-decoration: none; }

p {
  color: #757575;
  line-height: 1.6em;
  font-weight: lighter;
  margin-bottom: 1.5em; }
  p strong {
    font-weight: bold; }

.site-wrapper {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }
  .site-wrapper.animatable {
    -moz-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.lock-for-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  .lock-for-popup .page-home {
    background: #ffffff; }
    .lock-for-popup .page-home img {
      display: none; }

.page-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }
  .page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.logo-glass-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 50;
  width: 50px;
  height: 50px;
  left: 36px;
  top: 42px;
  width: 47px;
  height: 47px; }
  .logo-glass-wrapper:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    left: 41px;
    top: 45px;
    width: 38px;
    height: 3px;
    border-radius: 12px;
    position: fixed;
    z-index: 51; }
  .logo-glass-wrapper:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    left: 38px;
    top: 51px;
    width: 43px;
    height: 3px;
    border-radius: 12px;
    position: fixed;
    z-index: 51; }
  .logo-glass-wrapper img {
    margin-top: 2px; }

.mini-nav-container {
  position: fixed;
  z-index: 50;
  display: none; }

.button-download-my-code {
  font: normal 0.8125em "moon";
  color: #ffffff;
  position: absolute;
  right: 36px;
  bottom: 20px; }
  .button-download-my-code span {
    float: left;
    text-align: right;
    margin-right: 12px; }
  .button-download-my-code figure {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: right;
    position: relative;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5); }

.main-nav {
  position: fixed;
  right: 46px;
  top: 55px; }
  .main-nav .menu-icon {
    width: 40px;
    height: 32px;
    float: right;
    display: block;
    margin-top: -13px;
    padding-top: 13px; }
    .main-nav .menu-icon span {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      content: "";
      float: right;
      display: block;
      text-indent: -10000px;
      width: 28px;
      height: 4px;
      border-radius: 30px;
      background: #ffffff; }
    .main-nav .menu-icon:after {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      content: "";
      display: block;
      width: 23px;
      height: 4px;
      border-radius: 30px;
      background: #ffffff;
      top: 8px;
      right: -17px;
      position: relative; }
    .main-nav .menu-icon:before {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      content: "";
      display: block;
      width: 25px;
      height: 4px;
      border-radius: 30px;
      background: #ffffff;
      top: -4px;
      right: -15px;
      position: relative; }
  .main-nav nav {
    position: fixed;
    z-index: 51;
    top: 52px;
    right: 93px;
    font: normal 1em "moon"; }
    .main-nav nav a {
      -moz-transform: translateY(-90px);
      -o-transform: translateY(-90px);
      -ms-transform: translateY(-90px);
      -webkit-transform: translateY(-90px);
      transform: translateY(-90px);
      position: relative;
      z-index: 52;
      color: #ffffff;
      display: inline-block;
      margin-right: 25px; }
      .main-nav nav a:nth-child(5) {
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
      .main-nav nav a:nth-child(4) {
        -moz-transition: all 0.2s ease 0.05s;
        -o-transition: all 0.2s ease 0.05s;
        -ms-transition: all 0.2s ease 0.05s;
        -webkit-transition: all 0.2s ease 0.05s;
        transition: all 0.2s ease 0.05s; }
      .main-nav nav a:nth-child(3) {
        -moz-transition: all 0.2s ease 0.1s;
        -o-transition: all 0.2s ease 0.1s;
        -ms-transition: all 0.2s ease 0.1s;
        -webkit-transition: all 0.2s ease 0.1s;
        transition: all 0.2s ease 0.1s; }
      .main-nav nav a:nth-child(2) {
        -moz-transition: all 0.2s ease 0.15s;
        -o-transition: all 0.2s ease 0.15s;
        -ms-transition: all 0.2s ease 0.15s;
        -webkit-transition: all 0.2s ease 0.15s;
        transition: all 0.2s ease 0.15s; }
      .main-nav nav a:nth-child(1) {
        -moz-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -webkit-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s; }
      .main-nav nav a:after {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        content: "";
        width: 0;
        left: 50%;
        display: block;
        height: 2px;
        background: #ffffff;
        position: relative;
        bottom: -3px; }
      .main-nav nav a:hover:after, .main-nav nav a:focus:after, .main-nav nav a.current:after {
        width: 100%;
        left: 0; }
  .main-nav.active nav a {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font: normal 0.8125em "moon";
  color: #ffffff;
  border: 2px solid #ffffff;
  min-height: 50px;
  padding: 3px 30px 0px;
  border-radius: 35px; }

/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: February 7, 2016
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform,height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

.menu-container {
  position: fixed;
  z-index: 50;
  display: none; }

.page-home {
  background: #fb385f; }
  .page-home .logo-glass-wrapper {
    -moz-transition: all 0.3s ease 3s;
    -o-transition: all 0.3s ease 3s;
    -ms-transition: all 0.3s ease 3s;
    -webkit-transition: all 0.3s ease 3s;
    transition: all 0.3s ease 3s;
    top: -48px; }
    .page-home .logo-glass-wrapper:before {
      -moz-transition: all 0.3s ease 3.1s;
      -o-transition: all 0.3s ease 3.1s;
      -ms-transition: all 0.3s ease 3.1s;
      -webkit-transition: all 0.3s ease 3.1s;
      transition: all 0.3s ease 3.1s;
      top: -10px; }
    .page-home .logo-glass-wrapper:after {
      -moz-transition: all 0.3s ease 3.2s;
      -o-transition: all 0.3s ease 3.2s;
      -ms-transition: all 0.3s ease 3.2s;
      -webkit-transition: all 0.3s ease 3.2s;
      transition: all 0.3s ease 3.2s;
      top: -10px; }
  .page-home .menu-icon {
    -moz-transition: all 0.3s ease 3.15s;
    -o-transition: all 0.3s ease 3.15s;
    -ms-transition: all 0.3s ease 3.15s;
    -webkit-transition: all 0.3s ease 3.15s;
    transition: all 0.3s ease 3.15s;
    -moz-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px); }
    .page-home .menu-icon:before {
      -moz-transition: all 0.3s ease 3.1s;
      -o-transition: all 0.3s ease 3.1s;
      -ms-transition: all 0.3s ease 3.1s;
      -webkit-transition: all 0.3s ease 3.1s;
      transition: all 0.3s ease 3.1s;
      top: -40px; }
    .page-home .menu-icon:after {
      -moz-transition: all 0.3s ease 3.25s;
      -o-transition: all 0.3s ease 3.25s;
      -ms-transition: all 0.3s ease 3.25s;
      -webkit-transition: all 0.3s ease 3.25s;
      transition: all 0.3s ease 3.25s;
      top: -100px; }
  .page-home .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: static;
    max-width: 990px; }
  .page-home .main-splash-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .page-home .scroll-group {
    display: none; }
  .page-home .main-logo {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(80px);
    -o-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0; }
  .page-home .title-container {
    margin-left: 29px; }
  .page-home .base-title {
    font: normal 4.4em "peace-sans";
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    color: #eff4d6; }
    .page-home .base-title:nth-child(1) {
      -moz-transition: all 0.5s ease 0.1s;
      -o-transition: all 0.5s ease 0.1s;
      -ms-transition: all 0.5s ease 0.1s;
      -webkit-transition: all 0.5s ease 0.1s;
      transition: all 0.5s ease 0.1s;
      -moz-transform: translateY(80px);
      -o-transform: translateY(80px);
      -ms-transform: translateY(80px);
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0; }
    .page-home .base-title:nth-child(2) {
      -moz-transition: all 0.5s ease 0.2s;
      -o-transition: all 0.5s ease 0.2s;
      -ms-transition: all 0.5s ease 0.2s;
      -webkit-transition: all 0.5s ease 0.2s;
      transition: all 0.5s ease 0.2s;
      -moz-transform: translateY(80px);
      -o-transform: translateY(80px);
      -ms-transform: translateY(80px);
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0; }
  .page-home .base-subtitle {
    -moz-transition: all 0.5s ease 0.8s;
    -o-transition: all 0.5s ease 0.8s;
    -ms-transition: all 0.5s ease 0.8s;
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
    opacity: 0;
    font: normal 0.79375em "moon-bold";
    color: #3d1e39;
    letter-spacing: 1px;
    position: relative;
    top: 80px; }
  .page-home .button-more {
    -moz-transition: all 0.8s ease 2.5s;
    -o-transition: all 0.8s ease 2.5s;
    -ms-transition: all 0.8s ease 2.5s;
    -webkit-transition: all 0.8s ease 2.5s;
    transition: all 0.8s ease 2.5s;
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
    margin-top: -17px;
    margin-left: 55px;
    min-width: 278px; }
    .page-home .button-more .more-label {
      letter-spacing: 0.125em;
      width: 210px;
      text-align: center; }
    .page-home .button-more .more-arrow {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-top: -3px;
      margin-right: -5px; }
    .page-home .button-more:hover {
      border-thickness: 4px; }
      .page-home .button-more:hover .more-arrow {
        -moz-transform: translateX(3px);
        -o-transform: translateX(3px);
        -ms-transform: translateX(3px);
        -webkit-transform: translateX(3px);
        transform: translateX(3px); }
  .page-home .button-more-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font: normal 0.8125em "moon";
    letter-spacing: 0.125em;
    position: absolute;
    bottom: 27px;
    left: calc(50% - 79px); }
    .page-home .button-more-content span {
      -moz-transition: all 0.3s ease 3.6s;
      -o-transition: all 0.3s ease 3.6s;
      -ms-transition: all 0.3s ease 3.6s;
      -webkit-transition: all 0.3s ease 3.6s;
      transition: all 0.3s ease 3.6s;
      -moz-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0; }
    .page-home .button-more-content img {
      -moz-transition: all 0.3s ease 3.7s;
      -o-transition: all 0.3s ease 3.7s;
      -ms-transition: all 0.3s ease 3.7s;
      -webkit-transition: all 0.3s ease 3.7s;
      transition: all 0.3s ease 3.7s;
      -moz-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
      margin-top: 20px; }
  .page-home.ready .logo-glass-wrapper {
    top: 42px; }
    .page-home.ready .logo-glass-wrapper:before {
      top: 51px; }
    .page-home.ready .logo-glass-wrapper:after {
      top: 45px; }
  .page-home.ready .menu-icon {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
    .page-home.ready .menu-icon:before {
      top: -4px; }
    .page-home.ready .menu-icon:after {
      top: 8px; }
  .page-home.ready .main-logo {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .page-home.ready .base-title:nth-child(1) {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .page-home.ready .base-title:nth-child(2) {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .page-home.ready .base-subtitle {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    top: 5px;
    opacity: 1; }
  .page-home.ready .button-more {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  .page-home.ready .button-more-content span {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .page-home.ready .button-more-content img {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

.page-portfolio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa; }
  .page-portfolio .container {
    max-width: 790px; }
  .page-portfolio .portfolio-detail {
    -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    width: 790px;
    height: 0;
    opacity: 0;
    background: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -395px;
    z-index: 40; }
    .page-portfolio .portfolio-detail .close-button {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 41;
      opacity: 0.5; }
      .page-portfolio .portfolio-detail .close-button img {
        width: 20px; }
      .page-portfolio .portfolio-detail .close-button:hover {
        opacity: 1; }
  .page-portfolio .portfolio-detail-expanded {
    left: 0;
    margin: 0;
    opacity: 1;
    top: 0 !important;
    width: 100%;
    height: 100% !important; }
    .page-portfolio .portfolio-detail-expanded .project-container {
      height: 200px;
      background-position: 0 20%; }
    .page-portfolio .portfolio-detail-expanded .project-data {
      height: 200px;
      width: 100%;
      padding: 0 50px;
      margin: 0 auto; }
    .page-portfolio .portfolio-detail-expanded .project-title {
      -moz-transition: all 0.3s ease 0.6s;
      -o-transition: all 0.3s ease 0.6s;
      -ms-transition: all 0.3s ease 0.6s;
      -webkit-transition: all 0.3s ease 0.6s;
      transition: all 0.3s ease 0.6s;
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      font-size: 2.1875em;
      opacity: 1; }
    .page-portfolio .portfolio-detail-expanded .see-it-in-action {
      display: none; }
  .page-portfolio .portfolio-detail-close {
    top: 100% !important; }
  .page-portfolio .secondary-title {
    font: normal 5.9375em "selima";
    color: #fb385f;
    position: relative;
    z-index: 40; }
  .page-portfolio .swiper-container {
    width: 100%;
    max-width: 790px;
    overflow: visible;
    height: 300px;
    margin: 0 auto; }
  .page-portfolio .swiper-slide {
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    text-align: center;
    font-size: 28px;
    max-width: 790px;
    background: #babaca;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
    overflow: hidden; }
  .page-portfolio .swiper-slide-active {
    opacity: 1; }
    .page-portfolio .swiper-slide-active .project-container {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .page-portfolio .swiper-slide-active .project-title {
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .page-portfolio .swiper-slide-active .see-it-in-action {
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .page-portfolio .swiper-slide-active:hover .project-container {
      -moz-transition: all 3.5s ease 0.6s;
      -o-transition: all 3.5s ease 0.6s;
      -ms-transition: all 3.5s ease 0.6s;
      -webkit-transition: all 3.5s ease 0.6s;
      transition: all 3.5s ease 0.6s;
      -moz-transform: scale(1.25);
      -o-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25); }
  .page-portfolio .project-container {
    background: transparent no-repeat center top 100%/cover;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative; }
    .page-portfolio .project-container:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .page-portfolio .swiper-button-next {
    background: none;
    right: -70px; }
  .page-portfolio .swiper-button-prev {
    background: none;
    left: -90px; }
  .page-portfolio .project-data {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff; }
    .page-portfolio .project-data a {
      color: #ffffff; }
  .page-portfolio .project-title {
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    -ms-transition: all 0.3s ease 0.3s;
    -webkit-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
    -moz-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    opacity: 0;
    font: normal 0.8125em "moon-bold";
    letter-spacing: 0.3125em;
    position: relative;
    z-index: 2; }
  .page-portfolio .see-it-in-action {
    -moz-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    -ms-transition: all 0.3s ease 0.3s;
    -webkit-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
    -moz-transform: translateY(60px);
    -o-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
    margin-top: 10px;
    font: normal 0.5em "moon";
    letter-spacing: 0.3125em;
    position: relative;
    z-index: 2; }

.page-about {
  display: none;
  position: relative; }
  .page-about .button-back-to-home {
    -moz-transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    position: absolute;
    top: -52px;
    left: 249px; }
    .page-about .button-back-to-home span {
      font: normal 0.8125em "moon-bold";
      color: #3d1e39;
      margin: 0 0 0 10px; }
  .page-about .image-wrapper {
    background: url("/img/this-is-me.jpg") no-repeat 39% 100%/cover;
    width: 380px;
    height: 580px;
    flex: 0 0 380px; }
  .page-about .container {
    -moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -64px 0 0 0;
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
    position: relative; }
  .page-about:before {
    content: "";
    height: 100%;
    width: 35%;
    max-width: 365px;
    background: #fb385f;
    position: absolute;
    left: 0;
    top: 0; }
  .page-about .container-me {
    margin: -10px 0 0 76px;
    position: relative; }
    .page-about .container-me:before {
      content: "";
      display: block;
      height: 7px;
      top: 15px;
      width: 70px;
      left: -98px;
      background: #fb385f;
      border-radius: 20px;
      position: absolute; }
  .page-about .main-title {
    font: normal 2.6875em "moon";
    color: #3d1e39;
    letter-spacing: -0.03125em;
    line-height: 0.9375em;
    margin-bottom: 6px; }
    .page-about .main-title strong {
      font-family: "moon-bold"; }
  .page-about .main-subtitle {
    font: normal 0.9375em "moon-bold";
    color: #fb385f;
    font-weight: bold;
    position: relative;
    top: 16px; }
  .page-about p {
    font: normal 0.9375em/1.125em "montserrat";
    margin-top: 40px;
    line-height: 1.5;
    max-width: 490px; }
  .page-about .button-skills {
    border-color: #3d1e39;
    color: #3d1e39;
    width: 255px; }
    .page-about .button-skills span {
      width: 210px;
      font-family: "moon-bold"; }
  .page-about.active .container {
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  .page-about.active .button-back-to-home {
    left: 129px; }
  .page-about.ready {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }

.text-center {
  text-align: center; }
