body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

.page {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1400px;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    @include bp() {
        padding: 1.5em;
    }
}

h1 {
    font-size: 3em;
    @include bp() {
        font-size: 4.5em;
    }
}

h1, h2, h3, h4 ,h5 {
    font-weight: 800;
}

a {
    color: $color-primary;
}

.type-secondary {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: grid;
    grid-template: auto / auto auto auto;
    gap: 3em;
    margin: 6em auto 2em;

    &-item {
        background: #fff;
        height: 14em;
    }
}