@keyframes show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page.home {
&:after {
  content: "";
  display: block;
  width: 100%;
  height: 4em;
  opacity: 0;
  background: #ffbe45;
  background: linear-gradient(180deg, rgba(255, 190, 69, 0) 0%, #ff9800 72%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  animation: show-opacity 2s ease 1.5s;
}

  .hero {
    h1 {
      font-weight: 900;
      font-size: 3em;
      line-height: 1em;

      @include bp(400px) {
        font-size: 4em;
      }

      @include bp(600px) {
        font-size: 5.5em;
      }

      br {
        @include clearfix();

        @include bp(530px) {
          display: none;
        }
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em;
      margin-top: -0.4em;
    }
  }

  ul {
    display: none;
    @include bp(400px) {
      display: flex;
    }
    font-size: 1.2em;
    li {
      padding: 0.4em;
    }
    a {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}