  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-internal-manhattan.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-internal-manhattan.jpg">
        <span>Manhattan Cafe & Theatro</span>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">Sobre</h3>
            <p>
             Após nove anos de funcionamento no Recife, o Manhattan investe no formato “Café-Theatro”, com a proposta inovadora de reunir, num mesmo ambiente, música de qualidade e uma boa gastronomia, atraindo pessoas interessadas em se divertir com os amigos e família, principalmente os turistas, que passam a dispor de uma das melhores opções de entretenimento na noite recifense.
            </p>
            <p>
              Você pode ver o site em <a href="http://www.manhattancafetheatro.com.br" target="_blank">www.manhattancafetheatro.com.br</a>
            </p>
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container"></div>
        <img src="/img/site-manhattan-interna.jpg" alt="" class="project-screen-content">
        <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Responsabilidades</h3>
            <p>Fui responsável por implementar o front-end do site e melhoria da performance e implementa, fundamentalmente, a troca de páginas usando window.pushstate(que não atualiza a página, mas sim os endereços) sem perder os aspectos SEO de encontrabilidade.<p>

          </article>


          <article class="description" style="height: 250px;"></article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-manhattan-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-manhattan-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-manhattan-screenshot-02.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
