  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-sunweb.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-sunweb.jpg">
        <span>Sunweb Websites</span>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">Sobre</h3>
            <p>
              A Sundio possui vários sites de reservas de viagens websites como o <a href='http://zon.sunweb.nl/' target="_blank">Sunweb Holidays</a> e <a href='http://wintersport.sunweb.nl' target="_blank">Wintersports</a>. A empresa é especialista em all inclusive, last-minute travels e pacotes familiares para países da europa.
            </p>

        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen" style='background: url("/img/site-detail-sunweb.jpg") no-repeat center top 100%'></div>
         </div>
         <img src="img/site-sunweb-interna.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Responsabilidades</h3>
            <p>Meu papel foi atuar na resolução de bugs, viabilizar a implementação de features usando novas tecnologias e ajudar full-stacks na implementação de futuros releases (prova de conceito).
            </p>


          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Tecnologias</h3>
            <p>A Stack de desenvolvimento da sundio conta com tecnologias Microsoft (.net) e o front-end em uma boa estrutura de sass, compass, angular, grunt e outras tecnologias que ajudam a desenvolver sites com alta performance</p>

          </article>

          <article class="description" style="height: 180px;"></article>

        </div>

        <div class="poroject-descriptions"></div>
        <figure class="screenshot-holder">
          <img src="/img/site-sunweb-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-sunweb-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-sunweb-screenshot-04.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
