  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-suati.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-suati.jpg">
        <span>SUATI</span>
        <small>Soluções para empresas do mercado de energia</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">Sobre</h3>
            <p>
              Suati é uma das poucas empresas de TI brasileiras que atendem com excelência o complexo mercado de energia, criando softwares fáceis de usar, que atende á demanda deste mercado.
            </p>
             <p>
              Você pode ver o site em <a href="http://www.suati.com.br" target="_blank">www.suati.com.br</a>
            </p>

        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen"></div>
         </div>
         <img src="img/site-suati-interna.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Responsabilidades</h3>
            <p>Fui responsável pelo desenvolvimento do site e integração com a API de vagas de trabalho e correção de bugs/desenvolvimento de novas features dos sistemas web da empresa.</p>
          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Resultados</h3>
            <p>
             O novo site  leva os visitantes a conhecer a SUATI, sua cultura e profissionalismo  da empresa, bem como vagas e o que la tem a oferecer.  Também trouxe um novo patamar para a empresa, em comparação ao site antigo, não só pelo novo design como também pelas versões responsivas neste novo site.
            </p>
          </article>

          <article class="description" style="height:150px"></article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-suati-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-suati-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-suati-screenshot-02.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
