  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-transforma-recife.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-transforma-recife.jpg">
        <span>Transforma Recife</span>
        <small>Rede de Voluntariado</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">Sobre</h3>
            <p>
              Sozinho você pode muito. Unidos podemos muito mais. Este é o lema do Transforma Recife, uma plataforma colaborativa que permite conexões entre ONGs e pessoas que querem participar de algum tipo de trabalho voluntário. Até o primeiro semestre de 2015, 13 mil voluntários foram regitrados em 280 ONGs.
            </p>
            <p>
              Veja o projeto em <a href="http://www.transformarecife.com.br" target="_blank">www.transformarecife.com.br</a>
            </p>
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen" style='background: url("/img/site-transforma-recife.jpg") no-repeat center top 100%'></div>
         </div>
         <img src="img/site-transforma-recife.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Tecnologias</h3>
            <p>
              O stack do projeto usa ruby on rails e banco de dados postgresql, que provê uma api para o front-end, que conta com nodejs(express), Less, AngularJS e grunt para geração dos builds.
            </p>

            <p>
              A modularização do código bem como a injeção de dependências (incluindo injeção dos arquivos) foi feita com angular, o que permitiu ao time trabalhar confortavelmente com várias branches e minimizar conflitos de código durante os mergese fácil integração. O gerenciamento do CSS usa Less, com um sistema de grids usando flex-box.
            </p>
          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Resultados</h3>
            <p>
              Em relação a performance e manutenibilidade, os resultados técnicos foram surpreendentes. A separação de conceitos  (API, front-end) foi crucial, ajudando desenvolvedores em futuras implementações e diminuindo o risco de builds com erros.
            </p>

            <p>
              Para os usuários, o novo design e funcionalidades tornaram a plataforma mais atrativa e fácil de usar, inclusie em dispositivos móveis, uma vez que o design responsivo não existia na versão anterior.
            </p>
          </article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-transforma-recife-screenshot-01.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
