  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-internal-manhattan.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-internal-manhattan.jpg">
        <span>Manhattan Cafe & Theatro</span>
        <small>Food and Music</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">About</h3>
            <p>
             Manhattan is one of the most successfull restaurant/night clubs in Recife, which offers an innovative format of Cafe-theater, with good quality music and awarded gastronomy goods bringing people interested on having fun with friends and family.
            </p>
            <p>
              You can check out the project at <a href="http://www.manhattancafetheatro.com.br" target="_blank">www.manhattancafetheatro.com.br</a>
            </p>
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container"></div>
        <img src="/img/site-manhattan-interna.jpg" alt="" class="project-screen-content">
        <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Role</h3>
            <p>I was responsible for implement the website's front-end and performance improvement. The site is also responsive and has html5 page change(window.pushState) without refresh the whole screenm without losing SEO findability aspects.<p>

          </article>


          <article class="description" style="height: 250px;"></article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-manhattan-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-manhattan-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-manhattan-screenshot-02.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
