  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-internal-manhattan.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-internal-manhattan.jpg">
        <span>Manhattan</span>
        <small>Cafe & Theater</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">About</h3>
            <p>
             Manhattan is one of the most successfull restaurant/night clubs in Recife, which offers an innovative format of Cafe-theater, with good quality music and awarded gastronomy goods bringing people interested on having fun with friends and family.
            </p>
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container"></div>
        <img src="/img/site-manhattan-interna.jpg" alt="" class="project-screen-content">
        <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Role</h3>
            <p>I was responsible for design and implement the front-end of the website, which counts with responsive approach and html5 page change without refresh the whole screen.<p>
          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Results</h3>
            <p>
              Regarding to performance and mantainability, The technical outcomes are stunning. The separation of concerns (API,front-end, ) were crucial to help developers on future implementations, decreasing the risks failing builds and other errors.</p>

              <p>For the users, the new layout and functionalities became more attractive and easy to use, including the responsive features, which didn't existed at former version.
            </p>
          </article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-transforma-recife-screenshot-01.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
