  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-suati.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-suati.jpg">
        <span>SUATI</span>
        <small>IT management for energy business</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">About</h3>
            <p>
              Suati is one of few Brazilian IT companies which attends with excellence the complex energy market by creating easy-to-use software that attends to these market rules.
            </p>
             <p>
              You can check the project out at <a href="http://www.suati.com.br" target="_blank">www.suati.com.br</a>
            </p>

<!--            <div class="project-technologies">
              <span class="technology devicons devicons-html5"></span>
              <span class="technology devicons devicons-css3"></span>
              <span class="technology devicons devicons-angular"></span>
              <span class="technology devicons devicons-ruby_on_rails"></span>
              <span class="technology devicons devicons-nodejs_small"></span>
              <span class="technology devicons devicons-less"></span>
              <span class="technology devicons devicons-grunt"></span>
              <span class="technology devicons devicons-postgresql"></span>
            </div>
          </div>
-->
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen"></div>
         </div>
         <img src="img/site-suati-interna.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Role</h3>
            <p>I was in charge to develop the website front-end and API integration for jobs offer section and resolve front-end bugs on their web platform.</p>
          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Results</h3>
            <p>
             The new website lead the visitors to know SUATI the way it is, once there is no actors and stock photos to show how the company are, the visitor can feel immersed into the company's headquarters, culture and profesionalism. It was a great visual shift between this website and the past ones.
            </p>
          </article>

          <article class="description" style="height:150px"></article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-suati-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-suati-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-suati-screenshot-02.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
