  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-sunweb.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-sunweb.jpg">
        <span>Sunweb Websites</span>
        <small>Travel & Holidays deals</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">About</h3>
            <p>
              Sundio websites allows the visitor to search and book through several winter sport deals, hotels and all inclusive holidays. Their network involves more than 10 websites such as <a href='http://wintersport.sunweb.nl'>Wintersports</a>, <a href='http://zon.sunweb.nl/'>Sunweb Holidays</a> and other related travel brands in europe.
            </p>

        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen" style='background: url("/img/site-detail-sunweb.jpg") no-repeat center top 100%'></div>
         </div>
         <img src="img/site-sunweb.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Role</h3>
            <p>The company has a well developed architecture for their projects, which demands attention and extra efford regarding to performance. Once 80% of performance issues and demands front-end skills, my job was implement, suggest and follow sundio front-end development guidelines and follow the current ones in order to assure
            the quality of their websites.
            </p>


          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Technologies</h3>
            <p>Under Microsoft .net technologies, the front-end relies on well structured
            and defined guidelines using sass, compass, angular, jquery, grunt and other
            technologies which helps high-level websites performance.</p>

          </article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-sunweb-screenshot-01.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed left iphone">
          <img src="/img/site-sunweb-screenshot-03.jpg" alt="">
        </figure>

        <figure class="screenshot-holder fixed right tablet">
          <img src="/img/site-sunweb-screenshot-04.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
