  <div class="internal-stage">
    <header class="portfolio-header" style="background: url('/img/site-detail-transforma-recife.jpg') no-repeat center top fixed">
      <h2 class="portfolio-header-title" data-bg="/img/site-detail-transforma-recife.jpg">
        <span>Transforma Recife</span>
        <small>Collaborative network</small>
      </h2>
      <div class="portfolio-header-bg"></div>
    </header>
    <main class="portfolio-details">
      <div class="container">
        <section class="project-info">
          <div class="project-content">
          <h3 class="portfolio-content-title">About</h3>
            <p>
              Alone you can do a lot. Together we can do a whole lot more. this is the Transforma Recife's motto. Transforma Recife is a collaborative platform that allows the connection between NGOs and people who want to do some kind of volunteer work. Until the first semester of 2015, 13 thounsand of volunteers were registered and around 280 NGOs.
            </p>
            <p>
              You can check out the project at <a href="http://www.transformarecife.com.br" target="_blank">www.transformarecife.com.br</a>
            </p>

<!--            <div class="project-technologies">
              <span class="technology devicons devicons-html5"></span>
              <span class="technology devicons devicons-css3"></span>
              <span class="technology devicons devicons-angular"></span>
              <span class="technology devicons devicons-ruby_on_rails"></span>
              <span class="technology devicons devicons-nodejs_small"></span>
              <span class="technology devicons devicons-less"></span>
              <span class="technology devicons devicons-grunt"></span>
              <span class="technology devicons devicons-postgresql"></span>
            </div>
          </div>
-->
        </section>

      </div>
      <section class="project-screenshots">
        <div class="project-on-screen-container">
            <div class="project-screen" style='background: url("/img/site-transforma-recife.jpg") no-repeat center top 100%'></div>
         </div>
         <img src="img/site-transforma-recife.jpg" alt="" class="project-screen-content">
         <div class="project-on-screen-base"></div>
      </section>

      <div class="container project-description-wrapper">
        <div class="project-descriptions">
          <article class="description">
            <h3 class="portfolio-content-title">Technologies</h3>
            <p>The project stack has on ruby on rails using back-end with postgresql database, which provides an API for the front-end, that uses grunt to generate the builds. </p> <p>The whole code modularization and dependency injection (of physical files also) was made with Angular, which allowed the team to deal with several branches with minimal code conflicts during the development.  The CSS modularization and usage of CSS3 effects was managed by Less and the front-end environment was running over a node.js server.</p>
          </article>

          <article class="description">
            <h3 class="portfolio-content-title">Results</h3>
            <p>
              Regarding to performance and mantainability, The technical outcomes are stunning. The separation of concerns (API,front-end, ) were crucial to help developers on future implementations, decreasing the risks failing builds and other errors.</p>

              <p>For the users, the new layout and functionalities became more attractive and easy to use, including the responsive features, which didn't existed at former version.
            </p>
          </article>
        </div>
        <figure class="screenshot-holder">
          <img src="/img/site-transforma-recife-screenshot-01.jpg" alt="">
        </figure>
      </div>
    </main>
  </div>
