body {
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2em 0;
  text-align: center;
  height: 100vh;
  padding: 10em 1.5em 0;

  @media screen and(min-width: 768px) {
    padding-top: 0; 
    justify-content: center;
  }

  h1, p {
    margin: 0.2em 0;
    color: #3c3c3c;
  }
}

.img-wrapper {
  opacity: 0.6;
  display: grid;
  grid-template: auto / auto auto auto;
  gap: 0.5em;
  margin-bottom: 1.7em;
  
  img {
    width: 3em;
    &:nth-child(2) {
      width: 2.8em;
      align-self: end;
      margin: 0 0.7em 0 1em;
    }
  }
}